div{
    background-color: hotpink;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

a{
    text-decoration: none;
    padding: 20px;
    color: white;
}

a:hover{
    background-color: blueviolet;
}

@media screen and (max-width : 600px){
    div{
        flex-direction: column;
        padding: 10px;
    }

    a{
        background-color: indigo;
        margin: 10px 0;
        text-align: center;
        border-radius: 10px;
    }
}